In [3]:
# Dependencies
import pandas as pd

In [4]:
# Name of the CSV file
listings = 'Resources/ny_listings_6.5.23.csv'
calendars = 'Resources/ny_calendar_6.5.23.csv'
reviews = 'Resources/ny_reviews_6.5.23.csv'

In [5]:
# The correct encoding must be used to read the CSV in pandas
listings_df = pd.read_csv(listings, encoding="ISO-8859-1")
calendars_df = pd.read_csv(calendars, encoding="ISO-8859-1")
reviews_df = pd.read_csv(reviews, encoding="ISO-8859-1")

In [6]:
listings_df.count()

id                                              43566
listing_url                                     43566
scrape_id                                       43566
last_scraped                                    43566
source                                          43566
                                                ...
calculated_host_listings_count                  43566
calculated_host_listings_count_entire_homes     43566
calculated_host_listings_count_private_rooms    43566
calculated_host_listings_count_shared_rooms     43566
reviews_per_month                               33070
Length: 75, dtype: int64

In [7]:
calendars_df.count()

listing_id        15898711
date              15898711
available         15898711
price             15898711
adjusted_price    15898711
minimum_nights    15898336
maximum_nights    15898336
dtype: int64

In [8]:
reviews_df.count()

listing_id       1148772
id               1148772
date             1148772
reviewer_id      1148772
reviewer_name    1148769
comments         1148534
dtype: int64

In [9]:
keep_ids = [2595,5121,5136,5178,5203,5803,6848,6872,6990,7064,7097,7801,8490,9357,9704,10452,10962,11943,12192,12937,12940,13808,14314,14434,14991,15341,15385,15396,16338,16580,16821,16974,17037,17693,18018,18152,18728,18961,19282,19812,20913,21644,21794,23135,23686,24285,25406,26785,27644,27883,28907,29013,29628,29683,31130,31555,31902,31994,32037,33009,33156,36121,36647,36703,36934,38663,38833,39282,39572,39593,39704,42300,42729,42882,43105,44229,44973,45542,45556,45737,45910,45935,45936,46911,49048,50447,51438,52689,53469,53470,53477,54466,54508,54544,54694,54860,55959,55982,56859,57166,57297,57618,57754,57874,58059,58062,59014,59121,59709,60164,60181,60457,60611,60666,60673,60680,60794,61509,62891,62925,63588,63610,63657,64000,64015,64107,64314,64365,64837,65425,65615,65660,65813,66008,66251,66275,66741,66974,67288,67299,68253,68735,68900,69894,71010,71248,71366,71384,71812,72190,72265,74333,74438,74680,74821,74860,75635,77765,79067,80493,80684,80700,80924,81739,82638,82928,83243,84010,89427,89621,92242,93313,94783,96471,98663,99085,100186,100368,101053,103161,103311,103555,105469,106363,106906,107630,112304,112435,113092,113265,115535,115748,116551,118061,121687,125163,126816,127387,132516,133025,134934,135465,136493,139624,140133,141154,141335,142069,144087,144148,146726,148201,148259,148825,150804,150989,152071,152259,152263,152819,154934,155087,157673,158061,158178,159749,159815,159913,162493,162508,163814,166006,166172,166983,168123,169063,169306,169464,170420,170761,171562,171978,173151,174966,176135,177495,177606,179670,179741,182069,182177,187566,187986,188674,188803,189135,189181,189732,189787,190968,190974,191610,195123,195989,197942,198478,200955,201514,201992,202273,203901,204065,205485,205867,206316,206957,208148,208889,209310,212109,212544,213330,214917,216080,217580,218358,219066,219922,220563,222304,222913,223930,224004,225354,225976,226021,227495,227715,228317,228925,230877,231154,232612,232775,233638,235515,235552,235651,235951,235960,236671,237162,239733]

In [10]:
start_date = '2023-07-31'
end_date = '2023-08-31'

In [11]:
filtered_listings_df = listings_df[listings_df['id'].isin(keep_ids)]

filtered_listings_df.count()

id                                              313
listing_url                                     313
scrape_id                                       313
last_scraped                                    313
source                                          313
                                               ...
calculated_host_listings_count                  313
calculated_host_listings_count_entire_homes     313
calculated_host_listings_count_private_rooms    313
calculated_host_listings_count_shared_rooms     313
reviews_per_month                               302
Length: 75, dtype: int64

In [12]:
filtered_calendars_df = calendars_df[calendars_df['listing_id'].isin(keep_ids)]

filtered_calendars_df.count()

listing_id        114245
date              114245
available         114245
price             114245
adjusted_price    114245
minimum_nights    114245
maximum_nights    114245
dtype: int64

In [13]:
filtered_reviews_df = reviews_df[reviews_df['listing_id'].isin(keep_ids)]

filtered_reviews_df.count()

listing_id       34618
id               34618
date             34618
reviewer_id      34618
reviewer_name    34618
comments         34616
dtype: int64

In [14]:
filtered_calendars_date_df = filtered_calendars_df[(filtered_calendars_df['date'] >= start_date) & (filtered_calendars_df['date']<= end_date)]

filtered_calendars_date_df.count()

listing_id        10016
date              10016
available         10016
price             10016
adjusted_price    10016
minimum_nights    10016
maximum_nights    10016
dtype: int64

In [15]:
listing_columns = ['id','listing_url','name','host_id','host_url','host_name','host_since','host_is_superhost','host_listings_count','host_total_listings_count','latitude','longitude','room_type','accommodates','bedrooms','beds','price','minimum_nights','maximum_nights','has_availability','number_of_reviews','number_of_reviews_ltm','number_of_reviews_l30d','first_review','last_review','review_scores_rating','calculated_host_listings_count','reviews_per_month']
calendars_columns = ['listing_id','date','available','price','adjusted_price']
reviews_columns = ['listing_id','id','date','reviewer_id','reviewer_name']

In [16]:
column_listings_df = filtered_listings_df[listing_columns]
column_listings_df.count()

id                                313
listing_url                       313
name                              313
host_id                           313
host_url                          313
host_name                         313
host_since                        313
host_is_superhost                 206
host_listings_count               313
host_total_listings_count         313
latitude                          313
longitude                         313
room_type                         313
accommodates                      313
bedrooms                          192
beds                              310
price                             313
minimum_nights                    313
maximum_nights                    313
has_availability                  313
number_of_reviews                 313
number_of_reviews_ltm             313
number_of_reviews_l30d            313
first_review                      302
last_review                       302
review_scores_rating              302
calculated_host_listings_count    313
reviews_per_month                 302
dtype: int64

In [17]:
column_reviews_df = filtered_reviews_df[reviews_columns]
column_reviews_df.count()

listing_id       34618
id               34618
date             34618
reviewer_id      34618
reviewer_name    34618
dtype: int64

In [18]:
column_calendars_df = filtered_calendars_date_df[calendars_columns]
column_calendars_df.count()

listing_id        10016
date              10016
available         10016
price             10016
adjusted_price    10016
dtype: int64

In [19]:
column_listings_df.rename(columns={'id':'listing_id'},inplace=True)
column_listings_df.count()

C:\Users\Adam\AppData\Local\Temp\ipykernel_5428\1812920382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  column_listings_df.rename(columns={'id':'listing_id'},inplace=True)

listing_id                        313
listing_url                       313
name                              313
host_id                           313
host_url                          313
host_name                         313
host_since                        313
host_is_superhost                 206
host_listings_count               313
host_total_listings_count         313
latitude                          313
longitude                         313
room_type                         313
accommodates                      313
bedrooms                          192
beds                              310
price                             313
minimum_nights                    313
maximum_nights                    313
has_availability                  313
number_of_reviews                 313
number_of_reviews_ltm             313
number_of_reviews_l30d            313
first_review                      302
last_review                       302
review_scores_rating              302
calculated_host_listings_count    313
reviews_per_month                 302
dtype: int64

In [20]:
merge_df = pd.merge(column_listings_df, column_calendars_df, on='listing_id', how='inner')
merge_df.head(100)

,listing_id,listing_url,name,host_id,host_url,host_name,host_since,host_is_superhost,host_listings_count,host_total_listings_count,...,number_of_reviews_l30d,first_review,last_review,review_scores_rating,calculated_host_listings_count,reviews_per_month,date,available,price_y,adjusted_price
0,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York Â· â 4.68 Â· Studio Â...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,f,7.0,9.0,...,0,2009-11-21,2022-06-21,4.68,3,0.30,2023-07-31,f,$240.00,$240.00
1,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York Â· â 4.68 Â· Studio Â...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,f,7.0,9.0,...,0,2009-11-21,2022-06-21,4.68,3,0.30,2023-08-01,f,$240.00,$240.00
2,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York Â· â 4.68 Â· Studio Â...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,f,7.0,9.0,...,0,2009-11-21,2022-06-21,4.68,3,0.30,2023-08-02,f,$240.00,$240.00
3,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York Â· â 4.68 Â· Studio Â...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,f,7.0,9.0,...,0,2009-11-21,2022-06-21,4.68,3,0.30,2023-08-03,t,$240.00,$240.00
4,2595,https://www.airbnb.com/rooms/2595,Rental unit in New York Â· â 4.68 Â· Studio Â...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,f,7.0,9.0,...,0,2009-11-21,2022-06-21,4.68,3,0.30,2023-08-04,t,$240.00,$240.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14991,https://www.airbnb.com/rooms/14991,Rental unit in New York Â· â 4.93 Â· 1 bedroo...,59023,https://www.airbnb.com/users/show/59023,Bianca,2009-12-01,NaN,1.0,3.0,...,1,2010-03-21,2023-05-14,4.93,1,0.14,2023-08-31,f,$120.00,$120.00
96,5136,https://www.airbnb.com/rooms/5136,Rental unit in Brooklyn Â· â 5.0 Â· 2 bedroom...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,f,1.0,5.0,...,0,2014-01-02,2022-08-10,5.00,1,0.03,2023-07-31,t,$276.00,$276.00
97,5136,https://www.airbnb.com/rooms/5136,Rental unit in Brooklyn Â· â 5.0 Â· 2 bedroom...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,f,1.0,5.0,...,0,2014-01-02,2022-08-10,5.00,1,0.03,2023-08-01,t,$276.00,$276.00
98,5136,https://www.airbnb.com/rooms/5136,Rental unit in Brooklyn Â· â 5.0 Â· 2 bedroom...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,f,1.0,5.0,...,0,2014-01-02,2022-08-10,5.00,1,0.03,2023-08-02,t,$276.00,$276.00
99,5136,https://www.airbnb.com/rooms/5136,Rental unit in Brooklyn Â· â 5.0 Â· 2 bedroom...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,f,1.0,5.0,...,0,2014-01-02,2022-08-10,5.00,1,0.03,2023-08-03,t,$276.00,$276.00

In [21]:
merge_df.count()

listing_id                        10016
listing_url                       10016
name                              10016
host_id                           10016
host_url                          10016
host_name                         10016
host_since                        10016
host_is_superhost                  6592
host_listings_count               10016
host_total_listings_count         10016
latitude                          10016
longitude                         10016
room_type                         10016
accommodates                      10016
bedrooms                           6144
beds                               9920
price_x                           10016
minimum_nights                    10016
maximum_nights                    10016
has_availability                  10016
number_of_reviews                 10016
number_of_reviews_ltm             10016
number_of_reviews_l30d            10016
first_review                       9664
last_review                        9664
review_scores_rating               9664
calculated_host_listings_count    10016
reviews_per_month                  9664
date                              10016
available                         10016
price_y                           10016
adjusted_price                    10016
dtype: int64

In [23]:
merge_df.drop('price_x', axis=1,inplace=True)
merge_df.rename(columns={'price_y':'price'},inplace=True)

In [24]:
merge_df.to_csv("Resources/merged_cleaned_ny.csv", index=False, encoding="ISO-8859-1")

In [ ]:
column_reviews_df.to_csv("Resources/cleaned_reviews_ny.csv", index=False, encoding="ISO-8859-1")