In [2]:
# Dependencies
import pandas as pd

In [15]:
listings_df = pd.read_csv("Resources/merged_cleaned_ny.csv")
# listings_df.head(3)

listings_df.columns

Index(['primary_key', 'listing_id', 'listing_url', 'name', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_is_superhost',
       'host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'first_review', 'last_review', 'review_scores_rating',
       'calculated_host_listings_count', 'reviews_per_month', 'date',
       'available', 'price', 'adjusted_price'],
      dtype='object')

In [16]:
listings_df['room_type'].value_counts()

Entire home/apt    6048
Private room       3872
Hotel room           96
Name: room_type, dtype: int64

In [24]:
accommodates_df = listings_df.groupby('room_type')['accommodates'].mean()
accommodates_df.head()

room_type
Entire home/apt    3.481481
Hotel room         2.666667
Private room       1.950413
Name: accommodates, dtype: float64

In [25]:
avg_nights_df = listings_df.groupby('room_type')['minimum_nights', 'maximum_nights'].mean()
avg_nights_df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_21336\1060764288.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  min_nights_df = listings_df.groupby('room_type')['minimum_nights', 'maximum_nights'].mean()

                 minimum_nights  maximum_nights
room_type
Entire home/apt       23.793651      436.047619
Hotel room             1.000000      365.000000
Private room          18.239669      399.115702

In [33]:
number_of_reviews_df = listings_df[['listing_id', 'room_type', 'number_of_reviews_ltm', 'review_scores_rating']]
number_of_reviews_df = number_of_reviews_df.drop_duplicates(subset=None, keep='first')
number_of_reviews_df.head()

     listing_id        room_type  number_of_reviews_ltm  review_scores_rating
0          2595  Entire home/apt                      1                  4.68
32         5121     Private room                      0                  4.52
64        14991     Private room                      3                  4.93
96         5136  Entire home/apt                      1                  5.00
128       15341  Entire home/apt                      4                  4.56

In [34]:
avg_number_of_reviews_df =number_of_reviews_df.groupby('room_type')['number_of_reviews_ltm', 'review_scores_rating'].mean()
avg_number_of_reviews_df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_21336\651404953.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  avg_number_of_reviews_df =number_of_reviews_df.groupby('room_type')['number_of_reviews_ltm', 'review_scores_rating'].mean()

                 number_of_reviews_ltm  review_scores_rating
room_type
Entire home/apt               7.640212              4.715351
Hotel room                    5.333333              4.910000
Private room                  9.603306              4.717105